.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}

.background {
  position: absolute;
  background-size: cover;
  z-index: -1;
  opacity: .2;
}

.title {
  z-index: 1;
}