html {
  background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/71f5d2f6-e956-4945-863c-870ebd656778/d69q1vi-c8a14272-d105-40a7-b62f-5d8427495b51.png) no-repeat center center fixed;
} 

.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  text-align: center;
}
