.favorite-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-left: 60px;
  height: 60%;
  padding: 20px;
  grid-gap: 25px;
}

.poke-container{
  display: flex;
  flex-direction: column;
}
