.gen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gen-title {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bcbcbc;
  border-radius: 15px;
  width: 30%;
  height: 40px;
}

.gen-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}