.generation-card {
  text-decoration: none;
  color: white;
  position: relative;
  text-align: center;
  width: 300px;
  height: 300px;
  margin: 0px 100px;
}

.pokeball {
  height: 300px;
  width: 300px;
  cursor: pointer;
}

.pokeball:hover {
  transition: 1.5s;
  transform: rotate(1turn) scale(1.1);
}

.generation-name {
  z-index: 100;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  border-radius: 10px;
  padding: 5px;
}