.nav-div {
  height: 40%;
  padding-bottom: 20px;
}

.nav-button {
  height: 50px;
  width: 20vw;
  background-color: red;
  font-size: 20px;
  font-weight: bolder;
  cursor: pointer;
}

.nav-button:hover {
  transition: .2s;
  transform: scale(1.1);
}

.button-style {
  display: flex;
  justify-content: space-evenly;
}