
@media screen and (min-width:55vw)  {
  
  .pokemon-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-left: 60px;
    height: 60%;
    padding: 20px;
    border: 2px solid yellow;
    grid-gap: 25px;
  }

}

@media screen and (max-width:40vw){
  .pokemon-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 60px;
    height: 60%;
    padding: 20px;
    border: 2px solid yellow;
    grid-gap: 25px;
  }

}

.poke-container{
  display: flex;
  flex-direction: column;
  
}

