.poke-details {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: red;
  border-radius: 20px;
  width: 50%;
  height: 80vh;
}

ul {
  list-style: none;
  font-weight: bolder;
}

.abilities {
  display: flex;
  justify-content: center;
}

.ability {
  font-weight: lighter;
}

.name-sprite {
  background-color: darkred;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 90%;
  margin: 20px;
  /* background-color: white; */
  /* border: 5px solid grey;
  border-radius: 35px; */
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home {
  border-radius: 50%;
  height: 90px;
  background-color: #6887D9;
  border: none;
  font-size: 20px;
  box-shadow: 3px 3px #4f0202;
  cursor: pointer;
}

.favorite {
  width: 50%;
  height: 70%;
  font-size: 20px;
  border-radius: 35px;
  background-color: #F6CF57;
  box-shadow: 3px 3px #4f0202;
  border: none;
  cursor: pointer;
}

.home:hover,
.favorite:hover {
  transition: .2s;
  transform: scale(1.1);
}

.details-sprite-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: white;
  border: 5px solid grey;
  border-radius: 35px;
  height: 40%;
}

.details-sprite {
  height: 100%;
}

.details-sprite:hover {
background-color: clear;
animation: shake 0.5s;
animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.name {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  height: 20%;
  margin: 20px;
  border-radius: 35px;
}

.poke-stats {
  background-color: white;
  border-radius: 35px;
  width: 100%;
  height: 100%;
}

.poke-stats-style {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkred;
  width: 35%;
  height: 85%;
  border: 20px solid darkred;
}
