.pokemon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.poke-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.go-back {
  width: 10%;
  height: 5vh;
  background-color: #d53141;
  border-radius: 17px;
  font-size: 20px;
  font-weight: bolder;
  margin-top: 20px;
  cursor: pointer;
}

.go-back:hover {
  transition: .2s;
  transform: scale(1.1);
}